<div class="border-top border-dark">
<div class="container">
    <footer class="justify-content-start row pt-3">
<!--        <div class="col-12 col-md">-->
<!--            <img class="mb-2" src="/images/logo/Ellipse.svg" alt="" width="24" height="24">-->
<!--            <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>-->
<!--        </div>-->
        <div class="col-3">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-danger" href="/products/create">Admin</a></li>
                <li><a class="text-muted" href="#">Press</a></li>
                <li><a class="text-muted" href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="col-3">
            <h5>Socials</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Instagram</a></li>
                <li><a class="text-muted" href="#">Facebook</a></li>
            </ul>
        </div>
</footer>
</div>
</div>

