<!--<div class="border-top border-dark">-->
<!--<div class="container">-->
<!--    <footer class="row pt-3 pb-3">-->
<!--        <a class="text-danger" href="/products/create">Admin</a>-->
<!--        &nbsp-->
<!--        &nbsp-->
<!--        <img src="/images/socials/instagram.svg" alt="" style="max-width: 20px">-->
<!--        &nbsp-->
<!--        &nbsp-->
<!--        <a class="" href="#">FAQ</a>-->
<!--        <div class="col-12 col-md">-->
<!--            <img class="mb-2" src="/images/logo/Ellipse.svg" alt="" width="24" height="24">-->
<!--            <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>-->
<!--        </div>-->
<!--        <div class="col-3">-->
<!--            <h5>Resources</h5>-->
<!--            <ul class="list-unstyled text-small">-->
<!--                <li><a class="text-danger" href="/products/create">Admin</a></li>-->
<!--                <li><a class="text-muted" href="#">Press</a></li>-->
<!--                <li><a class="text-muted" href="#">FAQ</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="col-3">-->
<!--            <h5>Socials</h5>-->
<!--            <ul class="list-unstyled text-small">-->
<!--                <li><a class="text-muted" href="#">Instagram</a></li>-->
<!--                <li><a class="text-muted" href="#">Facebook</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--        <div class="col-3">-->
<!--            <h5>Icons</h5>-->
<!--            <ul class="list-unstyled text-small">-->
<!--                <li><a class="text-muted" href="#"><img src="/images/socials/facebook.svg" alt="" style="max-width: 20px"></a></li>-->
<!--                <li><a class="text-muted" href="#"><img src="/images/socials/instagram.svg" alt="" style="max-width: 20px"></a></li>-->
<!--                <li><a class="text-muted" href="#"><img src="/images/socials/twitter.svg" alt="" style="max-width: 20px"></a></li>-->
<!--            </ul>-->

<!--        </div>-->
<!--        </div>-->
<!--</footer>-->
<!--</div>-->
<!--</div>-->
<footer class="pb-4 footer border-top border-danger pt-3">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 footer-about">
                    <h4>SSA Furniture</h4>
                    <p>
                        Timeless, artisan-made furniture and decor from around the world.
                    </p>
                    <p>&copy; 2021 SSA Inc.</p>
                </div>
                <div class="col-md-2 footer-contact">
                    <h4>Contact</h4>
<!--                    <p><i class="fas fa-map-marker-alt"></i> 230 Tanjong Pagar Rd</p>-->
<!--                    <p><i class="fas fa-phone"></i> Phone: +65 9827 2811</p>-->
<!--                    <p><i class="fas fa-envelope"></i> Email: <a href="mailto:hello@domain.com">hello@ssa.com</a></p>-->
                    <p>Address: 4 Katong Rd</p>
                    <p>Phone: +65 9827 2811</p>
<!--                    <p>Email: <a href="mailto:hello@domain.com">hello@ssa.com</a></p>-->
                </div>
                <div class="col-md-1 footer-contact">
                    <h4>Socials</h4>
                    <p><a href="#">Instagram</a></p>
                    <p><a href="#">Facebook</a></p>
<!--                    <p><a href="#">Pinterest</a></p>-->
                </div>
<!--                <div class="col-md-2 footer-contact">-->
<!--                    <h4>Info</h4>-->
<!--                    <p><a href="#">FAQ</a></p>-->
<!--                    <p><a href="#">Shipping Info</a></p>-->
<!--                    <p><a href="#">Privacy</a></p>-->
<!--                </div>-->
            </div>
        </div>
    </div>
<!--    <div class="footer-bottom">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--&lt;!&ndash;                <div class="col footer-social">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    <a class="text-muted" href="#"><img src="/images/socials/facebook.svg" alt="" style="max-width: 20px"></a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                   <a class="text-muted" href="#"><img src="/images/socials/instagram.svg" alt="" style="max-width: 20px"></a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                 <a class="text-muted" href="#"><img src="/images/socials/twitter.svg" alt="" style="max-width: 20px"></a>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#"><i class="fab fa-facebook-f"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#"><i class="fab fa-instagram"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#"><i class="fab fa-pinterest"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</footer>

