<!doctype html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/nav.ejs') %>

<div class="container-fluid ">
    <h1 class="centered">Oops, page not found.</h1>
<!--    TODO: Add link back to homepage-->
    <p></p>
</div>

<%- include('./partials/login-modal.ejs') %>

<!-- UNDER CONSTRUCTION: FOOTER -->

<%- include('./partials/scripts.ejs') %>


</body>

</html>