<!doctype html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/nav.ejs') %>

<div>
    <h1>404 Error</h1>
</div>

<%- include('./partials/login-modal.ejs') %>


<!-- UNDER CONSTRUCTION: FOOTER -->

<%- include('./partials/scripts.ejs') %>


</body>

</html>