<!doctype html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/nav.ejs') %>

<!-- MAIN CONTENT -->

<div class="container-fluid pr-3">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-sm-12 mb-3">
            <img src="../images/LRNCE_15.jpg" class="img-fluid animate__animated animate__fadeIn" alt="furniture">
<!--            <img src="images/LRNCE_Marrakech.jpg" class="mainimage img-fluid animate__animated animate__fadeIn">-->

        </div>

        <div class="col-lg-5 col-sm-12 align-self-center">
            <h1>About SSA</h1>

            <p class="pt-2">We’re on a perpetual search for new designs that blur beauty and function and everything we source is done so sustainably and made using traditional methods of production. We believe a home layered with unique objects and infused with rich stories and traditional craftsmanship can spark memories, inspire and evoke enhancing everyday life.

            </p>



<!--            <h3>Our mission</h3>-->

<!--            <p> Design and craftsmanship are at the forefront of everything we do. We’re drawn to flecks of character, stories and quality in truly unique, one-off and handmade pieces.-->

<!--            </p>-->

<!--            <p>We’re on a perpetual search for new designs that blur beauty and function and everything we source is done so sustainably and made using traditional methods of production. We believe a home layered with unique objects and infused with rich stories and traditional craftsmanship can spark memories, inspire and evoke enhancing everyday life.-->

<!--            </p>-->
        </div>
        <div class="col-lg-7 col-sm-12 align-self-center">
            <h2>How It All Began</h2>
                        <p>Founded by Alice Simpson in 2013, SSA Furniture is based in Singapore and exudes stunning Moroccan vibes. After studying Fashion Design at Kask, in Ghent, Alice decided to start her own brand in a studio in Belgium, but she then moved to Marrakech to further develop it. Today, SSA Furniture is the collaboration of a European designer and traditional Moroccan artisanal craft. The label draws inspiration from tribes, cults, rituals and fashion items. Her pieces include a mix of colours, materials and textures, all meshed together.
                        </p>
        </div>
        <div class="col-lg-5 col-sm-12 pb-4">
            <img class="img-fluid" src="../images/founder.jpg" alt="sarah">
        </div>
    </div>

<!--    <div class="row mx-auto">-->
<!--        <h1>The Team</h1>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--        <div class="col-lg-4 col-sm-12">-->

<!--            &lt;!&ndash; <h1>About Us</h1> &ndash;&gt;-->
<!--            <img src="../images/Rangers/blue%201.png" class="img-fluid animate__animated animate__fadeIn">-->
<!--            <h2 class="pt-2">Syafii Ghazali</h2>-->
<!--            <h5>Blue Ranger</h5>-->
<!--            <p>Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem-->
<!--                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.-->
<!--                Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem-->
<!--                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.-->
<!--                Lorem ipsum. Lorem ipsum. Lorem ipsum.-->
<!--            </p>-->

<!--        </div>-->

<!--        <div class="col-lg-4 col-sm-12">-->
<!--            <img src="../images/Rangers/pink%202.png" class="img-fluid animate__animated animate__fadeIn">-->
<!--            <h2 class="pt-2">Serene Cai</h2>-->
<!--            <h5>Pink Ranger</h5>-->
<!--            <p>Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem-->
<!--                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.-->
<!--                Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem-->
<!--                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.-->
<!--                Lorem ipsum. Lorem ipsum. Lorem ipsum.-->
<!--            </p>-->

<!--        </div>-->

<!--        <div class="col-lg-4 col-sm-12">-->
<!--            <img src="../images/Rangers/green%201.png" class="img-fluid animate__animated animate__fadeIn">-->
<!--            <h2 class="pt-2">Andrew Goh</h2>-->
<!--            <h5>Green Ranger</h5>-->
<!--            <p>Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem-->
<!--                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.-->
<!--                Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem-->
<!--                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.-->
<!--                Lorem ipsum. Lorem ipsum. Lorem ipsum.-->
<!--            </p>-->

<!--        </div>-->
<!--    </div>-->

<!--</div>-->





    <!-- UNDER CONSTRUCTION: FOOTER -->


</div>
<%- include('./partials/footer.ejs') %>
<%- include('./partials/scripts.ejs') %>

</body>

</html>