<!doctype html>
<html lang="en">

<%- include('./partials/head.ejs') %>


<body>

<%- include('./partials/nav.ejs') %>

<!-- CONTACT FORM -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Get in touch</h1>
            <p> We'd love to hear from you.
                If you have any contact request, please fill in this form. Our dedicated customer care team is happy
                to help you with any questions regarding your online
                shopping, including assistance and order support.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form class="needs-validation" novalidate id="form" action="https://formspree.io/f/mjvpazna"
                  method="POST">
                <div class="form-group">
                    <label for="validationCustom01">Your name</label>
                    <input type="text" name="name" class="form-control" id="validationCustom01" placeholder=""
                           required>
                    <div class="invalid-feedback">
                        Please tell us your name.
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Your email</label>
                    <input type="email" name="_replyto" class="form-control" id="exampleFormControlInput1"
                           placeholder="" required>
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>
                <!-- <div class="form-group">
                <label for="inputSubject">Subject</label>
                <input type="text" class="form-control" id="inputSubject" placeholder="">
            </div> -->
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Your message</label>
                    <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="5"
                              required></textarea>
                    <div class="invalid-feedback">
                        Please enter a message.
                    </div>
                </div>
                <button type="submit" value="Send" class="btn btn-warning">Submit</button>
            </form>
        </div>
    </div>

</div>

<%- include('./partials/login-modal.ejs') %>

<%- include('./partials/scripts.ejs') %>

</body>

</html>