<!doctype html>
<html lang="en">

<%- include('./partials/head-contact.ejs') %>

<body>

<%- include('./partials/nav.ejs') %>

<!--<form action="https://send.pageclip.co/czioT4MjQrwnBpFQNZXLhDUylGGmfb1u/contact-form" class="pageclip-form" method="post">-->
<!--    &lt;!&ndash; Replace these inputs with your own. Make sure they have a "name" attribute! &ndash;&gt;-->

<!--    &lt;!&ndash; It looks like you are creating a contact form. These email and subject fields are special &ndash;&gt;-->
<!--    &lt;!&ndash; See https://pageclip.co/docs#special-fields for more info &ndash;&gt;-->
<!--    <input type="email" name="email" value="roscoe@example.com" />-->
<!--    <input type="text" name="subject" value="A contact subject" />-->

<!--    &lt;!&ndash; This button will have a loading spinner. Keep the inner span for best results. &ndash;&gt;-->
<!--    <button type="submit" class="pageclip-form__submit">-->
<!--        <span>Send</span>-->
<!--    </button>-->
<!--</form>-->

<!-- CONTACT FORM -->

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-12 mb-3 align-self-center">
            <h1>Get in touch</h1>
            <p> We'd love to hear from you.
                If you have any contact request, please fill in this form. Our dedicated customer care team is happy
                to help you with any questions regarding your online
                shopping, including assistance and order support.
            </p>
            <form class="needs-validation" novalidate id="form" action="https://formspree.io/f/mjvpazna"
                  method="POST">
                <div class="form-group">
                    <label for="validationCustom01">Your name</label>
                    <input type="text" name="name" class="form-control" id="validationCustom01" placeholder=""
                           required>
                    <div class="invalid-feedback">
                        Please tell us your name.
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Your email</label>
                    <input type="email" name="_replyto" class="form-control" id="exampleFormControlInput1"
                           placeholder="" required>
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>
                <!-- <div class="form-group">
                <label for="inputSubject">Subject</label>
                <input type="text" class="form-control" id="inputSubject" placeholder="">
            </div> -->
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Your message</label>
                    <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="8"
                              required></textarea>
                    <div class="invalid-feedback">
                        Please enter a message.
                    </div>
                </div>
                <button type="submit" value="Send" class="btn btn-outline-dark">Submit</button>
            </form>
    </div>
    <div class="col-xl-6 col-lg-12">
        <img class="img-fluid" src="images/portrait-lrnce.jpg" alt="furniture">
    </div>

    </div>
</div>
<br>



<%- include('./partials/footer.ejs') %>

<%- include('./partials/scripts.ejs') %>
<script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>

</body>

</html>