<!doctype html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/nav.ejs') %>

<div class="container-fluid mb-3">

    <div class="row mt-1">

        <div class="col-lg-5 col-sm-12 mb-4">

            <h1>SSA Furniture</h1>
            <p>Lorem Ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
                Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
                Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem Ipsum. Lorem ipsum.
            </p>

            <a href="/products/products-display" class="btn btn-warning">Shop now</a>
        </div>

        <div class="col-lg-7 col-sm-12 mb-sm-4">
            <img src="images/LRNCE_Marrakech.jpg" class="mainimage img-fluid animate__animated animate__fadeIn">
        </div>

    </div>

    <div class="row mb-4">

        <div class="col-lg-6 col-sm-12 mb-3">
            <img src="images/LRNCE_13_2.jpg" class="mainimage img-fluid animate__animated animate__fadeIn">
        </div>
        <div class="col-lg-6 col-sm-12">
            <h2>Furniture</h2>
            <p>Lorem Ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
                Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
                Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem Ipsum. Lorem ipsum. Lorem Ipsum. Lorem ipsum.
                Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
                Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
                Lorem ipsum. Lorem Ipsum. Lorem ipsum.</p>
            <h4>Mauve</h4>
            <p>Lorem Ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
                Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
                Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem Ipsum. Lorem ipsum. Lorem Ipsum. Lorem ipsum.
                Lorem ipsum. Lorem ipsum. Lorem ipsum. </p>
        </div>
    </div>

    <div class="row mb-4">

        <div class="col-lg-6 col-sm-12 ">
            <h2>Objects</h2>
            <p>Lorem Ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
                Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
                Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem Ipsum. Lorem ipsum.</p>

            <h4>Fuchsia</h4>

            <p>Lorem Ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
                Lorem ipsum. Lorem ipsum. Lorem
                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
                Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
                Lorem ipsum. Lorem Ipsum. Lorem ipsum.<br>Lorem
                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
                Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.
                Lorem ipsum. Lorem Ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
                ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum.</p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <img src="images/LRNCE_15.jpg" class="mainimage img-fluid animate__animated animate__fadeIn">
        </div>
    </div>

</div>

<%- include('./partials/footer.ejs') %>

<%- include('./partials/scripts.ejs') %>
</body>

</html>