<!doctype html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<%- include('./partials/nav.ejs')%>

<body>
<div class="container text-center">
<form action="/users/login" method="POST" class="form-signin">
<!--    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <%- include('./partials/messages') %>

    <label for="email" class="sr-only">Email address</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
    <br>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    <br>
        <button class="btn btn-lg btn-warning btn-block" type="submit">Sign in</button>
</form>
    <p class="lead mt-4">No account? <a href="/users/register">Register</a></p>

    <%- include('./partials/scripts.ejs')%>
</div>
</body>
</html>