<!doctype html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/nav.ejs') %>

<div class="centered">

<!--<h1>Dear Customer,</h1>-->

<h1>Payment successful!</h1>

<!--<p>Hope you have a nice day.</p>-->

<p>Redirecting you back to the homepage...</p>

</div>

<%- include('./partials/scripts.ejs')%>
</body>

<script>
    setTimeout(function () {
        // after 2 seconds
        window.location = "/";
    }, 3000)
</script>

</html>