<!doctype html>
<html lang="en">


<body>


<a href = "/products/products-display"><button>Back to furniture</button></a>
<a href = "/"><button>Back to Home</button></a>


<% if (items.length > 0)
{%>
    <% items.forEach(p => { %>

    <div class="col-sm-3"><div class="card border border-dark p-2 mb-3">
            <div class="card-body">
                <h5 class="card-title"><%=p.name%></h5>
                <p class="card-text">$<%=p.price%></p>


                </a>
            </div>
        </div></div>
    <%})%>
<%} else {%>
    <p>There are no products to display.</p>
<%}%>

<!--Under Construction: Footer-->

<!--firebase login script-->



</body>

</html>