<!doctype html>
<html lang="en">

<%- include('../partials/head-products.ejs') %>

<body>

<%- include('../partials/nav-products.ejs') %>

<div class="create-blog content container">
    <h1>Add New Product</h1>
    <form action="/products" method="POST">

    <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" class="form-control" name="name" required>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" class="form-control" name="description" required>
        </div>

        <div class="form-group">
            <label for="imageURL">Image URL:</label>
            <input type="text" id="imageURL" class="form-control" name="imageURL" required>
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" class="form-control" name="price" required>
        </div>

        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" class="form-control" name="quantity" required>
        </div>

        <button class="btn btn-primary">Submit</button>
    </form>
    <!--    <button class="testjs">JS Test</button>-->
</div>

<%- include('../partials/login-modal.ejs') %>



<!--Add update product here-->
<!-- UNDER CONSTRUCTION: FOOTER -->

<%- include('../partials/scripts-products.ejs') %>


</body>

</html>