<!doctype html>
<html lang="en">

<%- include('../partials/head-products.ejs') %>

<body>

<%- include('../partials/nav-products.ejs') %>

<div>
</div>

<%- include('../partials/login-modal.ejs') %>


<!-- UNDER CONSTRUCTION: FOOTER -->

<%- include('../partials/scripts.ejs') %>


</body>

</html>